.item-option {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    position: relative;
    min-height: 50px;
    margin: var(--main-margin);
    padding: 10px;
    background: var(--high-bg-color);
    border-radius: var(--border-rounded);
}

.my-questions .item-option.editing {
    grid-template-columns: 50px 1fr 50px 50px;
}

section input.item-option-input {
    width: 100%;
    font-size: medium;
    text-align: center;
    color: var(--main-text-color);
    background: transparent;
    border: 0;
    box-shadow: none;
}

section .item-option button {
    color: var(--main-text-color);
    background: transparent;
    border: none;
    box-shadow: none;
}

section button.correct-option {
    width: 30px;
    height: 30px;
    margin: 0;
    background: var(--main-bg-color);
    border: 2px solid var(--main-text-color);
    border-radius: 100%;
    transition: 0.2s ease;
}

.selected-option {
    background: var(--my-questions-color-2);
}

section button.selected-button {
    background: var(--my-questions-color);
}

button.add-option {
    width: 200px;
    max-width: 50%;
    height: 50px;
    margin: 10px auto;
    color: var(--main-text-color);
    background: var(--high-bg-color);
    border: none;
    border-radius: var(--border-rounded);
    box-shadow: none;
}

.item-option .drag-handle div {
    background: var(--main-bg-color);
}
