@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

html {
  --base-bg-color: #282828;
  --main-bg-color: rgba(0, 0, 0, 0.5);
  --high-bg-color: #393939;
  --low-bg-color: #000000;
  --main-text-color: #e3eeeb;
  --my-questions-color: #32a9ff;
  --my-questions-color-2: #00365a;
  --my-rounds-color: #d02778;
  --my-rounds-color-2: #79093f;
  --my-quizzes-color: #00bf6f;
  --my-quizzes-color-2: #005a35;

  --warn-color: #f15618;
  --greenlight-color: #00cf6f;
  --main-type: "Poppins", sans-serif;
  --main-margin: 10px;

  --my-questions-border: 2px solid var(--my-questions-color);
  --my-questions-border-2: 2px solid var(--my-questions-color-2);
  --my-rounds-border: 2px solid var(--my-rounds-color);
  --my-rounds-border-2: 2px solid var(--my-rounds-color-2);
  --my-quizzes-border: 2px solid var(--my-quizzes-color);
  --my-quizzes-border-2: 2px solid var(--my-quizzes-color-2);

  --border-rounded: 5px;

  --main-box-shadow: 0 6px 10px 2px rgba(0,0,0,0.3);

  font-family: var(--main-type);
  font-size: 18px;
  color: var(--main-text-color);
  text-align: center;
}

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom right, #00161f, #002f22);
}

.bg-circle {
  z-index: -2;
  position: fixed;
  background: rgba(0, 14, 43, 0.2);
  border-radius: 100%;
}

.bg-circle-1 {
  top: 50vh;
  left: 60vw;
  width: 60vh;
  height: 60vh;
}

.bg-circle-2 {
  top: 20vh;
  left: 30vw;
  width: 40vh;
  height: 40vh;
}

.bg-circle-3 {
  top: 70vh;
  left: 10vw;
  width: 20vh;
  height: 20vh;
}
